<!doctype html>
<html  class="x-admin-sm" lang="">
<head>
	<meta charset="UTF-8">
	<title>后台登录</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">店铺管理员登录</div>
        <div id="darkbannerwrap"></div>
        
        <form class="layui-form" action="/seller/login" method="post" >
            <label class="layui-form-label">
                <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            </label>
            <hr class="hr15">

            <label class="layui-form-label">
                <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            </label>
            <hr class="hr15">

            <label class="layui-form-label">
                <input name="code" lay-verify="required" placeholder="验证码 (忽略大小写)" id="code"  type="text" class="layui-input">
            </label>
                <img src="/kaptcha/kaptchaImage" id="reloadImage"  alt="验证码加载失败" title="看不清？点击换一张"/>
            <hr class="hr15">

            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >

        </form>
        <div class="right-button">
            <#--生产环境-->
<#--            <a href="/wechat/qrAuth?returnUrl=https://shop.gaoshiyi.top/seller/qrLogin">-->
            <#--开发环境-->
            <a href="/wechat/qrAuth?returnUrl=http://localhost:8080/seller/qrLogin">
            <i title="扫码登录" class="iconfont">&#xe6a9;</i>
            <span>扫码登录</span>
            </a>
        </div>


    </div>

    <script>
        layui.use('layer', function(){
            var layer = layui.layer;
            //弹出后端回传的错误提示信息
            layer.msg('${message!""}',{offset:'50px'});

        });

        //点击刷新验证码
        $("#reloadImage").click(function () {
            //获取当前的时间作为参数，无具体意义
            var timenow = new Date().getTime();
            $('#reloadImage').attr("src", "/kaptcha/kaptchaImage?date=" + timenow);
        });

    </script>
    <!-- 底部结束 -->

</body>
</html>