<!DOCTYPE html>
<html class="x-admin-sm" lang="">
<head>
    <meta charset="UTF-8">
    <title>查看用户信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="layui-bg-gray">
<div class="layui-fluid">

    <ul class="layui-row layui-col-space20">

        <li class="layui-col-md12 layui-col-xs12">
            <span>管理员id : </span>
            <span>${sellerVO.sellerId!""}</span>
        </li>

        <li class="layui-col-md12 layui-col-xs12">
            <span>用户名 : </span>
            <span>${sellerVO.username!""}</span>
        </li>

        <li class="layui-col-md12 layui-col-xs12">
            <span>真实姓名 : </span>
            <span>${sellerVO.realName!""}</span>
        </li>

        <li class="layui-col-md12 layui-col-xs12">
            <span>用户权限 : </span>
            <span>${privilege!""}</span>
        </li>

        <li class="layui-col-md12 layui-col-xs12">
            <span>电子邮箱 : </span>
            <span>${sellerVO.email!""}</span>
        </li>

        <li class="layui-col-md12 layui-col-xs12">
            <span>状态 : </span>
            <span>${(sellerVO.state== 1) ? then("正常","停用")}</span>
        </li>

        <li class="layui-col-md12 layui-col-xs12">
            <span>最后登录 : </span>
            <span>${sellerVO.lastLogin!""}</span>
        </li>

    </ul>

</div>

</body>

</html>